<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>

   <body>
      <%- include('../partials/nav.ejs') %>

         <div class="blogs content">
            <h2>All Blogs</h2>

            <% if (blogs.length> 0) { %>
               <% blogs.forEach(blog=> { %>
                  <%- include('../partials/blog.ejs', {blog}) %>
                     <% }); %>
                        <% } else { %>
                           <h3>Blogs are coming soon...</h3>
                           <% } %>
         </div>
         <a href="/blogs?page=<%= page+1 %>"><button class="load-more-btn">Показать ещё...</button></a>
         <%- include('../partials/footer.ejs') %>
            <script>
               function likePost(blogId, btn) {
                  fetch(`/blogs/${blogId}/like`, { method: `POST` })
                     .then(res => {
                        console.log(res);
                        return res.json();
                     })
                     .then(data => {
                        btn.querySelector('span').textContent = data.likes;
                     })
               }
            </script>
   </body>

</html>