<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>

   <body>
      <%- include('../partials/nav.ejs') %>
         <form class="search-box" action="/blogs" method="GET">
            <input type="text" class="search-box__input" name="query" placeholder="Поиск...">
            <button class="search-box__button" type="submit">Найти</button>
         </form>
         <div class="blogs content">
            <h2>All Blogs</h2>
            <%- include('../partials/blog.ejs',{blogs}) %>
         </div>
         <button type="submit" onclick="loadMore(this)" data-page="<%= page %>" class="load-more-btn">Показать
            ещё...</button>
         <%- include('../partials/footer.ejs') %>
            <script src="/scripts/blog-index.js">
            </script>
   </body>

</html>