<% if (blogs.length> 0) { %>
  <% blogs.forEach(blog=> { %>
    <div class="blog-card">
      <a class="blog-link" href="/blogs/<%= blog._id %>">
        <h3 class="blog-title">
          <%= blog.title %>
        </h3>
        <p class="blog-snippet">
          <%= blog.snippet %>
        </p>
      </a>
      <div class="blog-meta">
        <button class="like-btn" onclick="likePost('<%=blog._id %>', this)" type="button">❤️<span>
            <%= blog.likes.size || 0%>
          </span>
        </button>
        <div class="comment-count">
          💬 <span>
            <%= blog.comments?.length || 0 %>
          </span>
        </div>
      </div>
    </div>
    <% }); %>
      <% } else { %>
        <h3>Blogs are coming soon...</h3>
        <% } %>